<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989062991&amp;di=6b1a5f24ea3cb900f104c1900c9cf0d2&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.yzcdn.cn%2Fupload_files%2F2015%2F11%2F23%2F82e158b85b9804519d649a900abeabfe.png</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>审帖</string>
		<key>url</key>
		<string>https://www.baidu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989205017&amp;di=de745af1c4f485f0554000803f04198b&amp;imgtype=0&amp;src=http%3A%2F%2Fku.90sjimg.com%2Felement_origin_min_pic%2F17%2F08%2F21%2F4d4b6ae0d66c6094dd7bece063f20ee8.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>每日排行</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1569571675&amp;di=d2df32fcf14407e0c7e3b241710440ef&amp;imgtype=jpg&amp;er=1&amp;src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fblog%2F201311%2F06%2F20131106144353_MBu3W.thumb.700_0.jpeg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>意见反馈</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989506347&amp;di=213dc91fac0d1e714ecbe76c419d3057&amp;imgtype=0&amp;src=http%3A%2F%2Fbpic.588ku.com%2Felement_origin_min_pic%2F00%2F96%2F36%2F8456f2ffc6ef5b2.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>我的收藏</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1569583962&amp;di=b3e87e4b291117cb912b583edd8368f7&amp;imgtype=jpg&amp;er=1&amp;src=http%3A%2F%2Fwww.baijingapp.com%2Fuploads%2Fproduct%2F14533084451091%2F145330844535705.png</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>游戏大厅</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1123045286,2483255130&amp;fm=26&amp;gp=0.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>同城约友</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989358207&amp;di=646b334d5902bfb12b418267f2eb867d&amp;imgtype=0&amp;src=http%3A%2F%2Fphotocdn.sohu.com%2F20130128%2FImg364810672.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>美女写真</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989423410&amp;di=46cf1ab867f3874e2f3cb69bfe4dad01&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.25pp.com%2Fuploadfile%2Fsoft%2Fimages%2F2014%2F0726%2F20140726010205314.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>直播</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989475241&amp;di=df8714bc50e1c1ff0b6dd7fbef73a045&amp;imgtype=0&amp;src=http%3A%2F%2Fimg3.cache.netease.com%2Fgame%2F2013%2F11%2F28%2F20131128141538d33f8.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>游戏大厅</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1428009401,595480324&amp;fm=26&amp;gp=0.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>我的帖子</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=3135823969,1427148220&amp;fm=26&amp;gp=0.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>我的关注</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
	<dict>
		<key>android</key>
		<string></string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1568989394133&amp;di=97dc4eb620b5f5bb447e016573fd1bbf&amp;imgtype=0&amp;src=http%3A%2F%2Fku.90sjimg.com%2Felement_origin_min_pic%2F02%2F18%2F52%2F39576e4f7e00c9b.jpg</string>
		<key>id</key>
		<string>28</string>
		<key>ipad</key>
		<string></string>
		<key>iphone</key>
		<string></string>
		<key>market</key>
		<string></string>
		<key>name</key>
		<string>二手交易</string>
		<key>url</key>
		<string>https://www.jianshu.com/</string>
	</dict>
</array>
</plist>
