<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>13702621660</string>
		<key>password</key>
		<string>wujianheng</string>
		<key>system</key>
		<integer>1</integer>
		<key>region</key>
		<string>佛山</string>
	</dict>
</array>
</plist>
