<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>_postman_id</key>
		<string>e9c40794-c36c-46c8-98c2-b4ae8a171be9</string>
		<key>name</key>
		<string>vadmin</string>
		<key>schema</key>
		<string>https://schema.getpostman.com/json/collection/v2.1.0/collection.json</string>
	</dict>
	<key>item</key>
	<array>
		<dict>
			<key>name</key>
			<string>注册</string>
			<key>request</key>
			<dict>
				<key>body</key>
				<dict>
					<key>mode</key>
					<string>urlencoded</string>
					<key>urlencoded</key>
					<array>
						<dict>
							<key>key</key>
							<string>username</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>13702621660</string>
						</dict>
						<dict>
							<key>key</key>
							<string>password</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>wujianheng</string>
						</dict>
						<dict>
							<key>key</key>
							<string>system</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>1</string>
						</dict>
						<dict>
							<key>key</key>
							<string>region</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>佛山</string>
						</dict>
					</array>
				</dict>
				<key>header</key>
				<array>
					<dict>
						<key>key</key>
						<string>Content-Type</string>
						<key>name</key>
						<string>Content-Type</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>application/x-www-form-urlencoded</string>
					</dict>
				</array>
				<key>method</key>
				<string>POST</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>api</string>
						<string>user</string>
						<string></string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/api/user/</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>登陆</string>
			<key>request</key>
			<dict>
				<key>body</key>
				<dict>
					<key>mode</key>
					<string>urlencoded</string>
					<key>urlencoded</key>
					<array>
						<dict>
							<key>key</key>
							<string>username</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>13702621660</string>
						</dict>
						<dict>
							<key>key</key>
							<string>password</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>wujianheng</string>
						</dict>
					</array>
				</dict>
				<key>header</key>
				<array>
					<dict>
						<key>key</key>
						<string>Content-Type</string>
						<key>name</key>
						<string>Content-Type</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>application/x-www-form-urlencoded</string>
					</dict>
				</array>
				<key>method</key>
				<string>POST</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>api</string>
						<string>user</string>
						<string>login</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/api/user/login</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>添加app</string>
			<key>request</key>
			<dict>
				<key>body</key>
				<dict>
					<key>formdata</key>
					<array>
						<dict>
							<key>description</key>
							<string>app名字</string>
							<key>key</key>
							<string>name</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>谷歌5</string>
						</dict>
						<dict>
							<key>description</key>
							<string>app的ICON</string>
							<key>key</key>
							<string>file</string>
							<key>src</key>
							<string>/Users/jummywu/2019/1.jpg</string>
							<key>type</key>
							<string>file</string>
						</dict>
						<dict>
							<key>description</key>
							<string>下载链接</string>
							<key>key</key>
							<string>link</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>http://localhost:8001/</string>
						</dict>
						<dict>
							<key>description</key>
							<string>安卓的包名</string>
							<key>key</key>
							<string>android</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>谷歌</string>
						</dict>
						<dict>
							<key>description</key>
							<string>ios的ID</string>
							<key>key</key>
							<string>ios</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>1234556</string>
						</dict>
					</array>
					<key>mode</key>
					<string>formdata</string>
				</dict>
				<key>header</key>
				<array>
					<dict>
						<key>key</key>
						<string>token</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NzI1MTM3OTAsInVpZCI6InVzZXJfZDJlMjE5MGQtNDdkNy00MzFlLWJhYTUtYTg0MDJkOTk2NjZjIn0.FgAP4EsY1M-jkk4PvgqXbP2_RaZROE0TdQOMFWsCy9E</string>
					</dict>
					<dict>
						<key>key</key>
						<string>Content-Type</string>
						<key>name</key>
						<string>Content-Type</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>application/x-www-form-urlencoded</string>
					</dict>
				</array>
				<key>method</key>
				<string>POST</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>api</string>
						<string>software</string>
						<string>add.do</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/api/software/add.do</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>查看app</string>
			<key>request</key>
			<dict>
				<key>header</key>
				<array/>
				<key>method</key>
				<string>GET</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>software</string>
						<string>1</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/software/1</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>查看app的分页</string>
			<key>request</key>
			<dict>
				<key>header</key>
				<array/>
				<key>method</key>
				<string>GET</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>software</string>
						<string></string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>query</key>
					<array>
						<dict>
							<key>key</key>
							<string>page</string>
							<key>value</key>
							<string>1</string>
						</dict>
					</array>
					<key>raw</key>
					<string>http://localhost:8001/software/?page=1</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>下载APP时，统计次数</string>
			<key>request</key>
			<dict>
				<key>body</key>
				<dict>
					<key>mode</key>
					<string>urlencoded</string>
					<key>urlencoded</key>
					<array>
						<dict>
							<key>key</key>
							<string>software_id</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>1</string>
						</dict>
					</array>
				</dict>
				<key>header</key>
				<array>
					<dict>
						<key>key</key>
						<string>token</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NzI1MTM3OTAsInVpZCI6InVzZXJfZDJlMjE5MGQtNDdkNy00MzFlLWJhYTUtYTg0MDJkOTk2NjZjIn0.FgAP4EsY1M-jkk4PvgqXbP2_RaZROE0TdQOMFWsCy9E</string>
					</dict>
					<dict>
						<key>key</key>
						<string>Content-Type</string>
						<key>name</key>
						<string>Content-Type</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>application/x-www-form-urlencoded</string>
					</dict>
				</array>
				<key>method</key>
				<string>POST</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>api</string>
						<string>software</string>
						<string>download.do</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/api/software/download.do</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>查询全部展示的黄金线路</string>
			<key>request</key>
			<dict>
				<key>header</key>
				<array/>
				<key>method</key>
				<string>GET</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>gold</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/gold</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>查询黄金线路详情</string>
			<key>request</key>
			<dict>
				<key>header</key>
				<array/>
				<key>method</key>
				<string>GET</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>gold</string>
						<string>1</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/gold/1</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>查看该用户的黄金使用时长</string>
			<key>request</key>
			<dict>
				<key>header</key>
				<array>
					<dict>
						<key>key</key>
						<string>token</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NzI1MTM3OTAsInVpZCI6InVzZXJfZDJlMjE5MGQtNDdkNy00MzFlLWJhYTUtYTg0MDJkOTk2NjZjIn0.FgAP4EsY1M-jkk4PvgqXbP2_RaZROE0TdQOMFWsCy9E</string>
					</dict>
				</array>
				<key>method</key>
				<string>POST</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>api</string>
						<string>gold</string>
						<string>user_time.do</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/api/gold/user_time.do</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>修改该用户的黄金使用时长</string>
			<key>request</key>
			<dict>
				<key>body</key>
				<dict>
					<key>mode</key>
					<string>urlencoded</string>
					<key>urlencoded</key>
					<array>
						<dict>
							<key>description</key>
							<string>以秒为单位</string>
							<key>key</key>
							<string>time</string>
							<key>type</key>
							<string>text</string>
							<key>value</key>
							<string>1</string>
						</dict>
					</array>
				</dict>
				<key>header</key>
				<array>
					<dict>
						<key>key</key>
						<string>token</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1NzI1MTM3OTAsInVpZCI6InVzZXJfZDJlMjE5MGQtNDdkNy00MzFlLWJhYTUtYTg0MDJkOTk2NjZjIn0.FgAP4EsY1M-jkk4PvgqXbP2_RaZROE0TdQOMFWsCy9E</string>
					</dict>
					<dict>
						<key>key</key>
						<string>Content-Type</string>
						<key>name</key>
						<string>Content-Type</string>
						<key>type</key>
						<string>text</string>
						<key>value</key>
						<string>application/x-www-form-urlencoded</string>
					</dict>
				</array>
				<key>method</key>
				<string>PUT</string>
				<key>url</key>
				<dict>
					<key>host</key>
					<array>
						<string>localhost</string>
					</array>
					<key>path</key>
					<array>
						<string>api</string>
						<string>gold</string>
						<string>update_time.do</string>
					</array>
					<key>port</key>
					<string>8001</string>
					<key>protocol</key>
					<string>http</string>
					<key>raw</key>
					<string>http://localhost:8001/api/gold/update_time.do</string>
				</dict>
			</dict>
			<key>response</key>
			<array/>
		</dict>
	</array>
	<key>protocolProfileBehavior</key>
	<dict/>
</dict>
</plist>
